<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}\Logs\Internal.log">

  <targets async="true">

    <target name="CustomerTrackingTool"
        xsi:type="File"
         layout="${longdate} ${message}"
        fileName="${basedir}\Logs\All.log"
        archiveAboveSize ="10240000"
        maxArchiveFiles="20">
    </target>

  </targets>

  <rules>
    <logger name="*" minLevel="Trace" writeTo="CustomerTrackingTool" />

  </rules>
</nlog>